Source: ros-melodic-joint-limits-interface
Section: misc
Priority: extra
Maintainer: Bence Magyar <bence.magyar.robotics@gmail.com>
Build-Depends: debhelper (>= 9.0.0), liburdfdom-dev, ros-melodic-catkin, ros-melodic-hardware-interface, ros-melodic-roscpp, ros-melodic-rostest, ros-melodic-rosunit, ros-melodic-urdf
Homepage: https://github.com/ros-controls/ros_control/wiki
Standards-Version: 3.9.2

Package: ros-melodic-joint-limits-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liburdfdom-dev, ros-melodic-hardware-interface, ros-melodic-roscpp, ros-melodic-urdf
Description: Interface for enforcing joint limits.
