Source: ros-melodic-ros-control
Section: misc
Priority: extra
Maintainer: Bence Magyar <bence.magyar.robotics@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://ros.org/wiki/ros_control
Standards-Version: 3.9.2

Package: ros-melodic-ros-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-combined-robot-hw, ros-melodic-combined-robot-hw-tests, ros-melodic-controller-interface, ros-melodic-controller-manager, ros-melodic-controller-manager-msgs, ros-melodic-controller-manager-tests, ros-melodic-hardware-interface, ros-melodic-joint-limits-interface, ros-melodic-realtime-tools, ros-melodic-transmission-interface
Description: A set of packages that include controller interfaces, controller managers, transmissions and hardware_interfaces.
